:root {
  --color-primary: coral;
  --color-secondary: cornflowerblue;
  --color-white: white;
  --color-black: black;
}

.text-shadow {
  text-shadow: 3px 3px 3px black
}

/* adjektiv styling */
.text-center {
  text-align: center;
}

.bg-primary {
  background-color: var(--color-primary);
}

.bg-secondary {
  background-color: var(--color-secondary);
}

#user-input {
display: flex;
justify-content: center;
}